*~
.cproject
.settings
.project
examples
pll/CMakeFiles/
pll/Makefile
pll/cmake_install.cmake
pll/libpll.a
pll_test/
test_scripts/iqtree_release
test_scripts/iqtree_test
tags
test_scripts/iqtree_test_cmds.txt
pllrepo/
build/
cmake-build-debug/
/Default-clang
.idea/
.idea/codeStyleSettings.xml
/GPATH
/GRTAGS
/GTAGS
/.dir-locals.el
/iqtree_config.h
.DS_Store
*.ipch
*.log
/.vs/
example/
sprng/
terraphast/
vectorclass/
zlib-1.2.7/
/.direnv/
/.envrc
softwipe_build

# --- GPU/JOLT/CTF dev: build trees, job output, benches, frozen binaries ---
build-gpu-on/
build-gpu-off/
bench_*/
ctf*/
*.gadi-pbs/
*.o[0-9]*
*.e[0-9]*
frozen-binaries/
g[0-9]*_*/
prof_*/
smb_*/
*_diag*/
jolt_*/
tile*/
*.fa
tree/gpu/tc_decider
beagle_vs_jolt*/
euk_*/
rtest/
tc_decider_*/
